<p>
  fadher works!
</p>
Si tu veux changer la couleur de ton fils mets la couleur
que tu veux dans cet input.
<input type="text" #couleur (change)="changeCouleur(couleur.value)">
<app-son (sendData)="getSonData($event)" [color]="fatherColor"></app-son>

Données envoyées à partir du fils : {{mySonData}}
