<div class="col-md-6 col-sm-6">
<app-liste (selectPersonneEvent)="getSelectedPersonne($event)"></app-liste>
<app-embauche></app-embauche>
</div>

<div class="col-md-6 col-sm-6">
<app-detail *ngIf="selectedPersonne" [personne]="selectedPersonne" ></app-detail>
</div>
