<p [ngStyle]="{color: couleur,
               fontFamily: myFont,
               fontSize : size
               }">
     Bonjour Ng Style
</p>

<input type="text" #color (change)="changerCouleur(color.value)">

<input type="number" #taille (change)="changerTaille(taille.value)">

<select name="police" id="police" (change)="changerPolice(police.value)" #police>
  <option>garamond</option>
  <option>times</option>
  <option>arial</option>
</select>
