<p>
  color-change works!
</p>

<div id="colorDiv" [style.background-color]="getCouleur()">
  Je suis un div de couleur
</div>
Changer la couleur : <input type="text" #couleur (change)="modifyColor(couleur.value)">
