.c1{
  background-color: red;
  color: yellow;
}
.c2{
  background-color: red;

  color: black;
  border-color: gold darkgoldenrod lightgray rebeccapurple;
}
.c3{
  background-color: gray;
  color: deepskyblue;
}
