<p [ngClass]= classObject>
  ng-class works!
</p>

<select name="classes" id="team" #team (change)="modifyTeam(team.value)">
  <option value="c1">EST</option>
  <option value="c2">Milan</option>
  <option value="c3">Om</option>
</select>

<p appExeg>
  Test directive
</p>

<input type="text" appExergue>
