<p>
  binding works!
</p>

<input #name (change)="changeName(name.value)" type="text">
Je suis {{nom}} {{prenom}}.<br>
<input #btn2 [value]="getName()" type="text"><button (click)="modifier(btn2.value)">Modifier</button>
