<p>
  son works!
</p>

<div id="sonDiv"  [style.background-color]="color"></div>

ecris ce que tu veux envoyer au père et click sur envoyer <br>
<input type="text" #dataFils> <button (click)="envoyerData(dataFils.value)">Envoyer</button>
