Liste des personnes embauchées
<ol *ngIf="embauches" class="list-group">
  <li *ngFor="let personne of embauches " class="list-group-item">
    <img class="img-rounded" width="50px" height="50px" src="{{personne.path}}"> {{personne.prenom}} {{personne.age}}
  </li>
</ol>
