
<ol class="list-group">
<li *ngFor="let personne of personnes " class="list-group-item">
  <app-item (selectPersonneEvent)="getSelectedPersonne($event)" [myPersonne]="personne"></app-item>
</li>
</ol>
