<h1>Gestion des ToDos</h1>
Add ToDo : <br>    Titre <input #descri [(ngModel)]="title" type="text" (change)="isValide()">
      <br> Description : <input #tit [(ngModel)]="description" type="text" (change)="isValide()" >
      <button [disabled]="!valide" (click)="addToDo(tit.value,descri.value)">Ajouter</button>
<ol *ngIf="todos">
  <li *ngFor="let todo of todos"> {{todo.title}} : {{todo.description}} <button class="alert-danger" (click)="deleteTodo(todo)"> Delete</button></li>
</ol>
